---
layout: default
title: About
seo:
  title: 
  description:
  keywords:
    - Meal Prep Bali
  social_image: 
  hide-from-google: true
header:
  image: /images/temp-img.png
  image-position:
  image-alt:
  title: Our Story
  subtitle: Passionate About Health
  paragraph: Founded by Yousri Soliman, The Solimans was created with a vision to offer nutritious, flavorful meals that support your wellness goals without compromising on taste. Whether you're looking for a quick, healthy option or a meal plan that fits your lifestyle, we’re here to make healthy eating easy and enjoyable. We’re committed to quality, and each dish is crafted with care, using only the finest ingredients to nourish both your body and soul.
  cta: let's talk
  whatsapp_message: Hi! I’m interested in learning more about The Solimans. Can you provide more information?
gallery-section:
  subtitle: The Visionary
  title: Yousri Soliman
  image: /images/temp-img.png
gallery-text-sections:
  - title: The Passion Behind The Solimans
    paragraph: "Yousri Soliman is the heart and soul of The Solimans. With a deep passion for health and wellness, he founded the restaurant with the vision of creating a place where people can enjoy nutritious, flavorful meals that support their well-being. Driven by a commitment to quality and a love for food, Yousri’s dedication shines through every dish served at The Solimans."
  - title: A Vision for Healthy Living
    paragraph: "The Solimans was born from Yousri Soliman’s vision of making healthy eating both accessible and enjoyable. Drawing from his experience and passion for creating nourishing meals, Yousri set out to build a brand that prioritizes quality ingredients and customer satisfaction. His mission is simple: to offer meals that help people feel their best without compromising on flavor."
  - title: Crafting Healthy, Flavorful Meals
    paragraph: "With a lifelong passion for food and nutrition, Yousri Soliman founded The Solimans with the goal of transforming how people experience healthy eating. By combining his expertise and love for great food, Yousri created a space where health-conscious individuals can enjoy delicious, wholesome meals that cater to various dietary needs."
slider-images:
  - image: /images/temp-img.png
    image-alt: 'This is Nala'
  - image: /images/temp-img.png
    image-alt: 'This is Nala'
  - image: /images/temp-img.png
    image-alt: 'This is Nala'
image-banner:
  title: Big Things Are Coming!
  subtitle: Stay tuned and be part of the exciting journey ahead.
  image: /images/temp-img.png
  button_url: 
  button_text: Start Your Journey
---  

{% include image-gallery-text-section.html %}

{% include image-banner.html %}