---
layout: default
title: "Activities at or Near the Resort | Mayo Resort Bali"

seo:
  title: "Activities at or Near the Resort | Mayo Resort Bali"
  description: "Discover a variety of activities at or near Mayo Resort Bali, from beach strolls and snorkeling to dolphin tours and cultural experiences. Let us help you plan your perfect adventure."
  keywords:
    - Activities in North Bali
    - Beach activities
    - Snorkeling
    - Dolphin tours
    - Diving in Bali
    - Fishing trips
    - Water sports
    - Wellness treatments
    - Outdoor pursuits
    - Cultural experiences
  image: "/assets/images/activities/activities-hero-banner.webp"
  url: "https://mayoresort.com/activities.html"
  hide-from-google: false
  type: "website"

image_banner:
  image: "/assets/images/activities/activities-hero-banner.webp"
  banner_label: "Welcome to Mayo Resort"
  title: |
    Activities At
    Or Near The Resort

activity_list:
  bg_color: "bg-baby-powder"
  title: "Top Activities at or Near the Resort"
  description: "Enjoy a curated selection of activities around Mayo Resort Bali, from relaxing wellness to adventurous tours and cultural experiences."
  cards:
    - title: "Water & Beach Activities"
      description: "Enjoy calm beach strolls, snorkeling, dolphin tours, diving adventures, fishing, and exciting water sports—all close to the resort."
      image:
        src: "/assets/images/activities/beach-and-sea.webp"
        alt: "Guests enjoying calm beach and sea activities at Mayo Resort Bali"
      button_link: "#beach-sea"
      button_text: "Find Out More"
      button_aria_label: "Find out more about water and beach activities at Mayo Resort Bali"

    - title: "Wellness & Relaxation"
      description: "Relax with massages, yoga, beauty treatments, and explore the peaceful surroundings of the resort’s neighborhood."
      image:
        src: "/assets/images/activities/wellness1.webp"
        alt: "Wellness activities available for guests at Mayo Resort Bali"
      button_link: "#wellness"
      button_text: "Find Out More"
      button_aria_label: "Find out more about wellness and relaxation activities at Mayo Resort Bali"

    - title: "Outdoor & Sports Adventures"
      description: "Trek, bike or join tailored tours and excursions to explore Bali’s diverse landscapes and activities."
      image:
        src: "/assets/images/activities/sports.webp"
        alt: "Sports and outdoor activities available for guests at Mayo Resort Bali"
      button_link: "#sports-outdoor-pursuits"
      button_text: "Find Out More"
      button_aria_label: "Find out more about outdoor and sports adventures at Mayo Resort Bali"

    - title: "Community & Culture"
      description: "Engage with authentic Balinese culture through cooking classes, dance, woodcarving, and local village experiences."
      image:
        src: "/assets/images/activities/connectingiwthcommunity.webp"
        alt: "Connecting with the community activities available for guests at Mayo Resort Bali"
      button_link: "#connecting-with-community"
      button_text: "Find Out More"
      button_aria_label: "Find out more about community and cultural experiences at Mayo Resort Bali"

beach_sea:
  title: "Beach & Sea"
  bg_color: "bg-alabaster"
  description: >
    Stroll for more than a kilometer in either direction and enjoy the peaceful shoreline. You’ll meet local fishermen, friendly children, and possibly get invited into a spontaneous game. <br> <br>
    Swim just 100m to your left at a sheltered beach—ideal for children. Or head 300m west for a 1km stretch of beach past the Purijati diving ground. <br> <br>
    Explore the semicircle of coral reefs visible at low tide, teeming with marine life. <br> <br>
    Snorkel at the reef’s edge—we’ll lend you gear if you’ve forgotten yours. <br> <br>
    Row using our 2-person boat and enjoy the calm waters with sunscreen and a bottle of water in hand.
  button_text: "Stay With Us"
  button_link: "https://wa.me/+628113800500?text=Hi%20Mayo%20Resort%2C%20I%27m%20interested%20in%20booking%20a%20stay.%20Could%20you%20please%20provide%20more%20information%3F"
  button_aria_label: "Book a stay at Mayo Resort Bali"
  image1:
    src: "/assets/images/activities/beach-and-sea.webp"
    name: "Beachfront Dining Room at Mayo Resort Bali"
    alt: "Dining area with ocean view at the beachfront of Mayo Resort Bali"
  image2:
    src: "/assets/images/activities/beach.webp"
    name: "Beachside Sunset Seating at Mayo Resort Bali"
    alt: "Seating area by the beach during sunset at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[450px]"

see_the_dolphins:
  bg_color: "bg-bone"
  images:
    - src: "/assets/images/activities/dolphins.webp"
      alt: "A traditional Balinese Jukung fishing boat silhouetted against a bright orange and red sunset over the ocean."
    - src: "/assets/images/activities/dolphins0.webp"
      alt: "A tropical sunset over the ocean with the activities name 'Bora Bora' displayed in lights over the water."
    - src: "/assets/images/activities/dolphins2.webp"
      alt: "A romantic dinner setting at night with two plates of food, juice, a fresh coconut, and candlelight."
    - src: "/assets/images/activities/dolphins.webp"
      alt: "Lounge seating on the activities's deck, offering a view of the sunset over the water and palm trees."
  image_size: "max-w-auto max-h-[650px] w-auto h-auto"
  title: "See the Dolphins"
  description: >
    A must-do in North Bali. We’ll organize the boat for you—sometimes it’s even possible to be picked up right from our beach. Tours begin around 6:00 AM, returning in time for breakfast.
  button_text: "See the Dolphins"
  button_link: "https://wa.me/+628113800500?text=Hi%20Mayo%20Resort%2C%20I%27m%20interested%20in%20the%20dolphin%20tour.%20Could%20you%20please%20provide%20more%20details%3F"
  button_aria_label: "See the Dolphins at Mayo Resort Bali"

diving:
  title: "Diving"
  bg_color: "bg-baby-powder"
  description: "Several excellent dive sites are close by. Walk 10 minutes to Purijati or drive 25 minutes to Lovina Reef. For a day trip, head to Pemuteran, Menjangan Island, Tulamben, or Secret Bay. PADI courses are available nearby. Through our local dive partner, we offer discounted dive packages for all levels."
  button_text: "Go Diving"
  button_link: "https://wa.me/+628113800500?text=Hi%20Mayo%20Resort%2C%20I%27m%20interested%20in%20diving%20packages.%20Could%20you%20please%20provide%20more%20information%3F"
  button_aria_label: "Go Diving near Mayo Resort Bali"
  image1:
    src: "/assets/images/activities/diving.webp"
    name: "Diving at Mayo Resort Bali"
    alt: "Diving scene at Mayo Resort Bali"
  image2:
    src: "/assets/images/activities/diving1.webp"
    name: "Underwater Exploration at Mayo Resort Bali"
    alt: "Underwater scene at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[450px]"

fishing:
  title: "Fishing"
  bg_color: "bg-alabaster"
  description: >
    Let us arrange a boat and equipment for you. With some patience, you’ll return with a catch—and if it’s a good one, our kitchen will gladly prepare it for supper.
  button_text: "Book a Trip"
  button_link: "https://wa.me/+628113800500?text=Hi%20Mayo%20Resort%2C%20I%27d%20like%20to%20book%20a%20fishing%20trip.%20Please%20provide%20more%20details."
  button_aria_label: "Book a Fishing Trip at Mayo Resort"
  image:
    src: "/assets/images/activities/fishing.webp"
    alt: "Fishing gear and boat provided for guests at Mayo Resort Bali"
  image_size: "max-w-full max-h-[400px] md:max-w-[800px] md:max-h-[600px] w-auto h-auto"

water_sports:
  bg_color: "bg-bone"
  title: "Water Sports"
  description: "At Club La Costa (8km), guests can enjoy water skiing, parasailing, banana boat rides, and more. Mayo Resort guests receive a discount."
  button_link: "https://wa.me/+628113800500?text=Hi%20Mayo%20Resort%2C%20I%27m%20interested%20in%20the%20water%20sports%20activities.%20Please%20share%20more%20information."
  button_text: "Try Water Sports"
  button_aria_label: "Try Water Sports at Mayo Resort"
  image: "/assets/images/activities/waatersports.webp"
  image_alt: "Water sports activities available for guests at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px] w-auto h-auto"

explore_neighborhood:
  title: "Explore The Neighborhood"
  bg_color: "bg-alabaster"
  description: >
    A short walk inland brings you to temples, vineyards, rice fields, and the traditional village of Umeanyar, just 2km away. <br> <br>
    Seririt, only 3km away, offers ATMs, a supermarket, pharmacies, and one of the best local food scenes after dark—authentic, vibrant, and truly local.
  button_text: "Stay With Us"
  button_link: "https://wa.me/+628113800500?text=Hi%20Mayo%20Resort%2C%20I%27m%20interested%20in%20exploring%20the%20neighborhood.%20Please%20share%20more%20details."
  button_aria_label: "Book a stay at Mayo Resort Bali"
  image1:
    src: "/assets/images/activities/neighborhood1.webp"
    name: "Beachfront Dining Room at Mayo Resort Bali"
    alt: "Dining area with ocean view at the beachfront of Mayo Resort Bali"
  image2:
    src: "/assets/images/activities/neighborhood2.webp"
    name: "Beachside Sunset Seating at Mayo Resort Bali"
    alt: "Seating area by the beach during sunset at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[450px]"

wellness:
  title: "Wellness"
  bg_color: "bg-baby-powder"
  description: >
    Pamper yourself with massages, beauty treatments, or private yoga sessions in your room, garden, or even on the beach. <br> <br>
    Choose from a wide range of treatments, including aromatherapy, Thai massage, warm stone massage, facials, manicures, and more. <br> <br>
    Structured yoga, Tai Chi, detox, and Ayurvedic treatments are just a short walk away.
  button_text: "Book a Treatment"
  button_link: "https://wa.me/+628113800500?text=Hi%20Mayo%20Resort%2C%20I%27d%20like%20to%20book%20a%20wellness%20treatment.%20Please%20provide%20more%20details."
  button_aria_label: "Book a Wellness Treatment at Mayo Resort Bali"
  image1:
    src: "/assets/images/activities/wellness1.webp"
    name: "Wellness Treatment at Mayo Resort Bali"
    alt: "Wellness treatment scene at Mayo Resort Bali"
  image2:
    src: "/assets/images/activities/wellness2.webp"
    name: "Relaxation at Mayo Resort Bali"
    alt: "Relaxation scene at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[450px]"

sports_outdoor_pursuits:
  title: "Sports & Outdoor Pursuits"
  bg_color: "bg-alabaster"
  description: >
    Trek through rice terraces or jungle paths, go canoeing on Lake Tamblingan, or explore the area on horseback or by bike. <br> <br>
    Adventures for kids (and the young at heart) include the Bali Bike Park near Lake Buyan or the Bali Treetop Adventure Park in the botanical gardens. <br> <br>
    Golf enthusiasts can enjoy a round at the stunning Bali Handara Golf & Country Club—just an hour away.
  button_text: "Stay With Us"
  button_link: "https://wa.me/+628113800500?text=Hi%20Mayo%20Resort%2C%20I%27m%20interested%20in%20the%20sports%20and%20outdoor%20pursuits.%20Please%20share%20more%20details."
  button_aria_label: "Book a stay at Mayo Resort Bali"
  image:
    src: "/assets/images/activities/sports.webp"
    alt: "Fishing gear and boat provided for guests at Mayo Resort Bali"
  image_size: "max-w-full max-h-[400px] md:max-w-[800px] md:max-h-[600px] w-auto h-auto"

connecting_with_community:
  bg_color: "bg-bone"
  title: "Connecting with the Community"
  description: "Thanks to our partnership with NGO Five Pillar Foundation, we offer experiences that connect you with the people and culture of nearby villages—think cooking classes, dance lessons, woodcarving, and more."
  button_link: "/contact-form.html"
  button_text: "Contact Us"
  button_aria_label: "Contact Mayo Resort"
  image: "/assets/images/activities/connectingiwthcommunity.webp"
  image_alt: "Community activities available for guests at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px] w-auto h-auto"

tours_excursions:
  title: "Tours & Excursions"
  bg_color: "bg-alabaster"
  description_intro: >
    We offer around 30 different tours tailored to your interests. Half-day, full-day, or early morning—just ask and we’ll make it happen. <br><br> Highlights include:
  description_list:
    - "Banjar Hot Springs & Brahma Vihara Temple (20 mins away)"
    - "Dolphin watching"
    - "Singaraja city tour"
    - "Bedugul & Lakes Region"
    - "Agritourism tours"
    - "Diving excursions"
    - "Trekking and fishing trips"
  button_text: "Contact Us"
  button_link: "/contact-form.html"
  button_aria_label: "Contact Mayo Resort"
  image1:
    src: "/assets/images/activities/excursion1.webp"
    name: ""
    alt: "Tours and excursions available for guests at Mayo Resort Bali"
  image2:
    src: "/assets/images/activities/excursion2.webp"
    name: ""
    alt: "Tours and excursions available for guests at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[450px]"
---

{% include image-banner.html %} {% include section-slider.html
section=page.activity_list %}

<div id="beach-sea">
  {% include content-with-images-left.html section=page.beach_sea %}
</div>

<div id="see-the-dolphins">
  {% include images-gallery-content.html section=page.see_the_dolphins %}
</div>

<div id="diving">
  {% include content-with-images.html section=page.diving %}
</div>

<div id="fishing">
  {% include content-with-image-on-the-left.html section=page.fishing %}
</div>

<div id="water-sports">
  {% include content-image-right.html section=page.water_sports %}
</div>

<div id="explore-the-neighborhood">
  {% include content-with-images-left.html section=page.explore_neighborhood%}
</div>

<div id="wellness">
  {% include content-with-images.html section=page.wellness %}
</div>

<div id="sports-outdoor-pursuits">
  {% include content-with-image-on-the-left.html
  section=page.sports_outdoor_pursuits %}
</div>

<div id="connecting-with-community">
  {% include content-image-right.html section=page.connecting_with_community %}
</div>

<div id="tours-excursions">
  {% include content-with-images-left.html section=page.tours_excursions %}
</div>
