---
layout: default

title: "Contact Us - Mayo Resort Bali"
seo:
  title: "Contact Us - Mayo Resort Bali"
  description: "Get in touch with Mayo Resort Bali for inquiries, bookings, and more. Experience the perfect blend of luxury and tranquility at our beachfront resort."
  keywords:
    - Mayo Resort Bali
    - Contact Us
    - Bali Resort
    - Beachfront Resort
    - Luxury Accommodation
    - Bali Vacation
    - Resort Inquiries
    - Bookings
    - Customer Service
    - Travel Information
    - Contact Form

  social_image: "/assets/images/contact-form/social-image.webp"
  canonical_url: "https://www.mayoresort.com/contact-form.html"
  hide-from-google: false

image_banner:
  image: "/assets/images/contact-form/contact-herobanner.webp"
  banner_label: "Get in Touch"
  title: |
    Get in Touch

cta_contact:
  title: "We’d Love to Hear From You"
  bg_color: "bg-baby-powder"
  description: "Whether you’re marking a special moment or simply looking to unwind, our packages are thoughtfully crafted to offer the perfect experience."
  buttons:
    - text: "Book Now"
      link: "https://bookingku.bookandlink.com/booking-page.php?id=mayo-resort"
      aria_label: "Book Your Stay at Mayo Resort Bali Now"
    - text: "Contact Us"
      link: "#contact-form"
      aria_label: "Explore Special Offers and Packages at Mayo Resort Bali - Contact Us"
  image:
    src: "/assets/images/contact-form/contact1.webp"
    alt: "Special offers and packages banner featuring scenic views at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px]"

contact_form:
  bg_color: "bg-alabaster"
  title: "Contact Form"
  image: "/assets/images/contact-form/contact2.webp"
  image_alt: "Tropical garden view with lush greenery and a stone pathway at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px] w-auto h-auto"

contact_info:
  bg_color: "bg-bone"
  title: "Contact Information"
  address:
    line1: "Mayo Resort & Restaurant Bora Bora"
    line2: "Jalan Umeanyar 3"
    line3: "Kundalini, Desa Umeanyar"
    city: "Seririt"
    postal_code: "81153"
    region: "Buleleng – Bali"
    country: "Indonesia"
  phone_numbers:
    - label: "Resort"
      number: "+62 (0) 811 380-0500"
    - label: "Restaurant"
      number: "+62 (0) 811 385-2322"
  email: "gm@mayoresort.com"
  image: "/assets/images/contact-form/contact3.webp"
  image_alt: "Resort exterior showcasing traditional Balinese architecture with lush landscaping at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px] w-auto h-auto"
---

{% include image-banner.html %} {% include content-with-image-on-the-left.html
section=page.cta_contact %}
<div id="contact-form">
  {% include contact-form.html section=page.contact_form %}
</div>
{% include contact-info.html section=page.contact_info %}
