---
layout: default
title:
seo:
  title:
  description:
  keywords:
    - Meal Prep Bali
  social_image:
  hide-from-google: true
---

{% include image-banner.html bg_image="/assets/images/mayo-resort.png"
title="Welcome to\nMayo Resort" %} {% include content-with-images.html title="A
Peaceful Escape by the Sea" description="Located at the tip of a scenic
headland, Mayo Resort provides a serene retreat, surrounded by the Bali Sea on
three sides. With panoramic ocean views, a calm microclimate, and unforgettable
sunsets, it's the perfect place to unwind and enjoy a peaceful escape, away from
the hustle and bustle." button_text="Find Out More" button_link="/kontak"
image1="/assets/images/dummy.png" image2="/assets/images/dummy.png" %}
