---
layout: default
title: 
seo:
  title: 
  description:
  keywords:
    - Meal Prep Bali
  social_image: 
  hide-from-google: true
header:
  image: /images/temp-img.png
  image-position:
  image-alt:
  title: The Solimans 
  subtitle: Fuel For Champions
  paragraph: A health and fitness meal plan business that believes in the idea that  healthy eating doesn’t have to be boring. Our menu is designed by  dietitians and created by chefs, ensuring that every dish is packed with the nutrients and flavor that you need to feel your best.
  cta: let's talk
  whatsapp_message: Hi! I’m interested in learning more about your meal plans. Can you provide more information?
gallery-section:
  subtitle: Not Just Another
  title: Meal Planner
  image: /images/temp-img.png
gallery-text-sections:
  - title: Passion & Expertise
    paragraph: At The Solimans, we are passionate about helping our customers achieve  their health and fitness goals through delicious, nutritionally balanced meals. Our team of dietitians and chefs work collaboratively to create a menu that is both flavorful and nourishing, ensuring that you don't  have to sacrifice taste for nutrition.
  - title: 100% natural ingredients
    paragraph: One of the things that sets The Solimans apart from other meal planners  is our commitment to using natural ingredients. We believe in the  benefits of using whole, unprocessed foods, and do our best to source  our ingredients from local, sustainable sources whenever possible.
  - title: customer satisfaction
    paragraph: We are also dedicated to ensuring customer satisfaction. Whether you are following a specific dietary plan or simply looking to improve your  overall health and wellness, we are here to support you every step of  the way. We offer a variety of payment options and are flexible with our delivery and pickup options, making it easy for you to get the meals  you need.
slider-images:
  - image: /images/temp-img.png
    image-alt: 'This is Nala'
  - image: /images/temp-img.png
    image-alt: 'This is Nala'
  - image: /images/temp-img.png
    image-alt: 'This is Nala'
testimonials:
  subtitle: "What They Say About"
  title: The Solimans
  testimonials_list:
   - highlight: "Amazing and healthy place!"
     paragraph: "Amazing and healthy place! You can check macros and kcal on the menu and order your individual meal plan, delivered straight to you. Highly recommended."
     name: Sonia Szuba
   - highlight: "Tasty and love the flavors!"
     paragraph: "I find your meals tasty and love the flavors. It's nice!"
     name: Gracia Olivier
   - highlight: "It's fantastic!"
     paragraph: "I've just had my third meal, and I think it's fantastic. I'm really enjoying the taste. Keep up the great work—so far, you've got a very happy customer."
     name: Misja Alblas
image-banner:
  title: Healthy food
  subtitle: Should Be Inclusive and Accessible to Everyone
  image: /images/temp-img.png
  button_url: 
  button_text: Start Your Journey
partners:
  title: Our Partners
  subtitle: We Believe in Cooperation
  dynamic-text: We are excited to announce our new partnership with several local  businesses to enhance the experience for our customers. At Solimans, we  are committed to providing our customers with the best possible service  and options, and this collaboration allows us to expand our offerings  beyond the kitchen. By working with these businesses, we can offer our customers a range of  services. We believe that this partnership will not only benefit our  customers but also strengthen the local community by supporting other   businesses.
  businesses:
    - logo: "/images/soma-fight-club-partner-of-the-solimans.png"
      name: "SOMA Fight Club"
      discount: "x% Off"
      explanation: "xxx"
    - logo: "/images/alma-partner-of-the-solimans.png"
      name: "Alma"
      discount: "xx% Off"
      explanation: "xxx"
    - logo: "/images/logo3.png"
      name: "Business 3"
      discount: "25% Off"
      explanation: "Save 25% on services provided by Business 3."
    - logo: "/images/logo4.png"
      name: "Business 4"
      discount: "10% Off"
      explanation: "Receive 10% off your orders with Business 4."
---

{% include image-gallery-text-section.html %}

{% include testimonial.html %}

{% include image-banner.html %}

{% include partners.html %}

{% include contact-with-map.html %}