---
layout: default
title: "Mayo Resort Bali - A Peaceful Escape by the Sea"
seo:
  title: "Mayo Resort Bali | Beachfront Resort with Stunning Ocean Views"
  description: "Discover Mayo Resort Bali, your tranquil getaway by the Bali Sea. Enjoy luxury rooms, breathtaking sunsets, special offers, and unforgettable experiences."
  keywords:
    - Meal Prep Bali
    - Mayo Resort Bali
    - Bali beachfront resort
    - Bali ocean view resort
    - Bali vacation
    - Bali luxury resort
    - Bali family resort
    - Bali romantic getaway
    - Bali villa with pool
    - Bali seaside resort
    - Bali holiday packages
    - Bali wedding venue
    - Bali diving spots
    - Bali cultural experience
    - Bali eco-resort
  social_image: "/assets/images/homepage/hero-banner-mayo-resort-bali.webp"
  canonical_url: "https://www.mayoresort.com/"
  hide-from-google: false

image_banner:
  image: "/assets/images/homepage/hero-banner-mayo-resort-bali.webp"
  banner_label: "Welcome to Mayo Resort"
  title: |
    Welcome to
    Mayo Resort

popup:
  - title: "Unlock Special Rates"
    description: "Use our promo code ABCDEF and get up to 25% off breakfast. Direct booking via website only!"
    image:
      src: "/assets/images/homepage/morning-meal.webp"
      alt: "Delicious Balinese breakfast served at Mayo Resort in Bali"
    button:
      text: "Book Now"
      url: "https://bookingku.bookandlink.com/booking-page.php?id=mayo-resort"
      aria_label: "Book now to unlock special rates and get 25 percent off breakfast at Mayo Resort Bali"

  - title: "Wet Season Discount"
    description: "Enjoy special discounts during Bali’s wet season on all packages."
    image:
      src: "/assets/images/homepage/burger-and-fries.webp"
      alt: "Tasty burger and fries meal at Mayo Resort Bali during wet season offer"
    button:
      text: "Reserve Today"
      url: "https://bookingku.bookandlink.com/booking-page.php?id=mayo-resort"
      aria_label: "Reserve today to enjoy wet season discounts on all packages at Mayo Resort Bali"

  - title: "Dry Season Offer"
    description: "Make the most of Bali’s dry season with our exclusive deals!"
    image:
      src: "/assets/images/homepage/pizza-and-wine.webp"
      alt: "Pizza and wine served at Mayo Resort Bali’s dry season special offer"
    button:
      text: "Book Now"
      url: "https://bookingku.bookandlink.com/booking-page.php?id=mayo-resort"
      aria_label: "Book now to enjoy exclusive dry season deals at Mayo Resort Bali"

  - title: "Exclusive Resort Promo"
    description: "Fall into savings with special offers on select stays at Mayo Resort."
    image:
      src: "/assets/images/homepage/restaurant.webp"
      alt: "Elegant restaurant setting at Mayo Resort Bali during exclusive promotion"
    button:
      text: "Grab the Deal"
      url: "https://bookingku.bookandlink.com/booking-page.php?id=mayo-resort"
      aria_label: "Grab the deal and save on select stays at Mayo Resort Bali"

about_resort:
  title: "A Peaceful Escape by the Sea"
  bg_color: "bg-baby-powder"
  description: "Located at the tip of a scenic headland, Mayo Resort provides a serene retreat, surrounded by the Bali Sea on three sides. With panoramic ocean views, a calm microclimate, and unforgettable sunsets, it's the perfect place to unwind and enjoy a peaceful escape, away from the hustle and bustle."
  button_text: "Find Out More"
  button_link: "/contact"
  button_aria_label: "Find Out More about Mayo Resort Bali - Contact Us"
  image1:
    src: "/assets/images/homepage/beachfront-dining-room.webp"
    name: "Beachfront Dining Room at Mayo Resort Bali"
    alt: "Dining area with ocean view at the beachfront of Mayo Resort Bali"
  image2:
    src: "/assets/images/homepage/beachside-sunset-seating.webp"
    name: "Beachside Sunset Seating at Mayo Resort Bali"
    alt: "Seating area by the beach during sunset at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[450px]"

rooms:
  main_title: "Our Beautiful Rooms"
  list:
    - title: "Garden Studio"
      image: "/assets/images/homepage/garden-studio.webp"
      image_alt: "Garden Studio Room with Ocean View at Mayo Resort Bali"
      image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px]"
      description: "A spacious 60 sqm retreat with a private patio, offering tranquil views of the gardens, pool, and ocean."
      bed: "1 King-size Double Bed"
      capacity: "2 adults (plus space for 1 extra mattress)"
      button_text: "Find out more"
      button_url: "/rooms.html#garden-studio"
      button_aria_label: "Find out more about Garden Studio Room at Mayo Resort Bali"

    - title: "Ocean view studios"
      image: "/assets/images/homepage/ocean-view-studio.webp"
      image_alt: "Ocean View Studio Room at Mayo Resort Bali"
      image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px]"
      description: "Bright and cozy 46 sqm studios with a balcony or terrace offering serene views of the sea, gardens, and pool."
      bed: "1 King-size Double Bed + 1 sofa-bed"
      capacity: "2 adults + 1 child"
      button_text: "Find out more"
      button_url: "/rooms.html#ocean-view-studios"
      button_aria_label: "Find out more about Ocean View Studio Room at Mayo Resort Bali"

    - title: "2-Bedroom Family Suite"
      image: "/assets/images/homepage/family-suite.webp"
      image_alt: "2-Bedroom Family Suite with Ocean View at Mayo Resort Bali"
      image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px]"
      description: "A generous 180 sqm suite with two bedrooms, a living room, and a terrace perfect for families, all with ocean views."
      bed: "1 King-size Double Bed & 2 Single Beds + 1 sofa-bed"
      capacity: "5 adults (can add 2 extra mattresses if needed, so max 7)"
      button_text: "Find out more"
      button_url: "/rooms.html#family-suite"
      button_aria_label: "Find out more about 2-Bedroom Family Suite at Mayo Resort Bali"

    - title: "Villa Putih"
      image: "/assets/images/homepage/villa-putih.webp"
      image_alt: "Villa Putih - 2-Bedroom Beachfront Villa with Private Pool at Mayo Resort Bali"
      image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px]"
      description: "A stunning two-bedroom beachfront villa with a private pool, lush garden, and panoramic views of the ocean, rice fields, and surrounding hills."
      bed: "2 King-size Double Beds"
      capacity: "4 adults (plus sofa space if needed)"
      button_text: "Find out more"
      button_url: "/rooms.html#villa-putih"
      button_aria_label: "Find out more about Villa Putih at Mayo Resort Bali"

guest_testimonials:
  bg_color: "bg-bone"
  testimonials:
    - main_quote: "A Truly Unforgettable Stay!"
      rating: 5
      description: >
        Our time at Mayo Resort was nothing short of spectacular. From the moment we arrived, we were captivated by the stunning ocean views and the peaceful ambiance that surrounded us. The staff went above and beyond to ensure our stay was comfortable and memorable. We enjoyed relaxing by the pool, exploring the lush gardens, and witnessing breathtaking sunsets every evening. It truly was the perfect getaway, and we’re already planning our next visit.
      name: "John Doe"
      date: "March 2024"

    - main_quote: "Exceptional Service and Hospitality"
      rating: 5
      description: >
        The warmth and professionalism of the Mayo Resort team made our stay unforgettable. Every request was met with a smile, and they took great care of every detail, from personalized recommendations to seamless check-in and check-out. The rooms were impeccably clean and beautifully designed to maximize comfort and the ocean views. This level of hospitality made us feel truly valued as guests. Highly recommended for anyone seeking a stress-free and welcoming retreat.
      name: "Jane Smith"
      date: "April 2024"

    - main_quote: "Great Value for a Relaxing Vacation"
      rating: 4
      description: >
        Mayo Resort offers exceptional value, combining beautiful surroundings with excellent amenities. The tranquility of the location, paired with attentive service and comfortable accommodations, made for a rejuvenating experience. Whether lounging by the pool, enjoying the local cuisine, or simply soaking in the natural beauty, we felt completely refreshed by the end of our stay. A wonderful choice for travelers looking to unwind without breaking the bank.
      name: "Emily Johnson"
      date: "May 2024"

    - main_quote: "Comfortable and Peaceful"
      rating: 4
      description: >
        The spacious rooms with panoramic ocean views were a highlight of our stay at Mayo Resort. Waking up to the gentle sound of waves and enjoying coffee on the balcony was a daily pleasure. The peaceful atmosphere throughout the resort helped us disconnect from the everyday hustle and truly relax. The facilities were well-maintained, and the friendly staff added a personal touch that made us feel at home. Definitely a place we would recommend and return to.
      name: "Michael Brown"
      date: "June 2024"

    - main_quote: "Perfect for Family and Professionals"
      rating: 5
      description: >
        Mayo Resort strikes the perfect balance between relaxation and functionality. As a professional who needed to mix work with leisure, I found the environment ideal for both. The reliable Wi-Fi and quiet spaces allowed me to stay productive, while my family enjoyed the spacious suites, pool, and natural beauty of the surroundings. The attentive staff made sure everyone’s needs were met, making it a seamless experience for both work and play. Highly recommended for families and business travelers alike.
      name: "Sarah Davis"
      date: "July 2024"

special_offers:
  title: "Special Offers"
  bg_color: "bg-baby-powder"
  description: "Whether you’re marking a special moment or simply looking to unwind, our packages are thoughtfully crafted to offer the perfect experience."
  button_text: "Find Out More"
  button_link: "/special-offers"
  button_aria_label: "Explore Special Offers and Packages at Mayo Resort Bali - Contact Us"
  image:
    src: "/assets/images/homepage/specialoffers.webp"
    alt: "Special offers and packages banner featuring scenic views at Mayo Resort Bali"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px]"

dining_options:
  - title: "Dining at Bora Bora"
    bg_color: "bg-alabaster"
    description: "Bora Bora delivers a memorable dining experience, featuring exquisite seafood, stunning ocean views, and a perfect atmosphere for any occasion."
    button_link: "/more-info"
    button_text: "Find Out More"
    button_aria_label: "Find out more about dining experiences at Bora Bora"
    image_height: "max-h-64 md:max-h-96"
    images:
      - src: "/assets/images/homepage/oceanfront-dining.webp"
        alt: "Oceanfront dining area with sea view at Bora Bora"
      - src: "/assets/images/homepage/morning-meal.webp"
        alt: "Delicious morning meal served at Bora Bora restaurant"
      - src: "/assets/images/homepage/oceanfront-lounge.webp"
        alt: "Relaxing oceanfront lounge with comfortable seating at Bora Bora"
      - src: "/assets/images/homepage/burger-and-fries.webp"
        alt: "Classic burger and fries served at Bora Bora dining"
      - src: "/assets/images/homepage/golden-hour-dinner.webp"
        alt: "Dinner setting during golden hour with ocean view at Bora Bora"
      - src: "/assets/images/homepage/pizza-and-wine.webp"
        alt: "Pizza and wine served at Bora Bora restaurant"

celebrate_section:
  bg_color: "bg-bone"
  title: "Celebrate in Style"
  description: "From milestone birthdays to intimate gatherings, Mayo Resort offers the perfect backdrop for your special moments. Surrounded by serene waters and stunning scenery, every celebration here becomes truly memorable."
  button_link: "/more-info"
  button_text: "Start Planning With Us"
  button_aria_label: "Start planning your special celebration at Mayo Resort"
  image: "/assets/images/homepage/couple-dancing-at-sunset.webp"
  image_alt: "Couple dancing at sunset with ocean view at Mayo Resort"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px]"

weddings:
  bg_color: "bg-baby-powder"
  images:
    - src: "/assets/images/homepage/oceanfront-wedding-venue.webp"
      alt: "Oceanfront wedding venue at Mayo Resort with decorated seating and floral arrangements"
    - src: "/assets/images/homepage/silhouetted-couple-at-sunset.webp"
      alt: "Silhouetted couple sharing a romantic moment at sunset by the sea"
    - src: "/assets/images/homepage/wedding-couple-beach-walk.webp"
      alt: "Wedding couple walking hand-in-hand along the beach at Mayo Resort"
    - src: "/assets/images/homepage/outdoor-wedding-reception.webp"
      alt: "Outdoor wedding reception with guests enjoying the celebration under open sky"
  image_size: "max-w-auto max-h-[650px]"
  title: "Weddings by the Sea"
  description: >
    Exchange your vows surrounded by the Bali Sea, with unobstructed ocean views and breathtaking sunsets. <br>

    Mayo Resort provides an elegant, serene setting for an unforgettable wedding day that you and your guests will cherish forever.
  button_text: "Celebrations by the Sea"
  button_link: "/celebrations"
  button_aria_label: "Learn more about wedding celebrations by the sea at Mayo Resort"

activities:
  title: "Activities in North Bali"
  cards:
    - title: "lorem ipsum"
      description: "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      image:
        src: "/assets/images/homepage/mayo-resort-aerial-view.webp"
        alt: "Aerial view of Mayo Resort Bali surrounded by greenery and coastline"
      button_link: "/lorem-info"
      button_text: "Find Out More"
      button_aria_label: "Find out more about lorem ipsum activity at Mayo Resort Bali"

    - title: "Diving"
      description: "From nearby Purijati to world-famous Tulamben and Menjangan Island, incredible dive spots are just minutes to hours away, with exclusive guest discounts on courses and excursions."
      image:
        src: "/assets/images/homepage/herobanner2.webp"
        alt: "Diver exploring coral reef near Tulamben in North Bali"
      button_link: "/diving-info"
      button_text: "Find Out More"
      button_aria_label: "Find out more about diving experiences at Mayo Resort Bali"

    - title: "Community"
      description: "Visit local villagers, join a Balinese cooking class, learn traditional crafts, music, and dance, or create your own handmade souvenirs."
      image:
        src: "/assets/images/homepage/community.webp"
        alt: "Guests engaging with local Balinese community in a cultural activity"
      button_link: "/community-info"
      button_text: "Find Out More"
      button_aria_label: "Find out more about community-based activities at Mayo Resort Bali"

cta_mayo:
  title: "How to Get Here"
  bg_color: "bg-baby-powder"
  description: "The journey to Mayo Resort is part of the experience, with three scenic routes and memorable stops along the way."
  button_text: "Find Out More"
  button_link: "/contact"
  button_aria_label: "Learn how to get to Mayo Resort Bali and explore your travel options"
  image:
    src: "/assets/images/homepage/mayo-resort-aerial-view.webp"
    alt: "Scenic route to Mayo Resort Bali with ocean and mountain views"
  image_size: "max-w-auto max-h-[400px] md:max-w-[800px] md:max-h-[600px]"
---

{% include image-banner.html %} {% include popup-modal.html %} {% include
content-with-images.html section=page.about_resort %} {% include
rooms-content.html %} {% include testimonial.html %} {% include
content-with-image-on-the-left.html section=page.special_offers %} {% assign
dining_section = page.dining_options[0] %} {% include
image-gallery-text-section.html section=dining_section %} {% include
content-image-right.html section=page.celebrate_section %} {% include
images-gallery-content.html section=page.weddings %} {% include
section-slider.html %} {% include content-with-image-on-the-left.html
section=page.cta_mayo %}
