<section
  class="flex flex-col md:flex-row items-center justify-between bg-baby-powder py-12 md:py-24 lg:py-48 pl-4 sm:pl-8 md:pl-12 lg:pl-16 xl:pl-20"
>
  <div
    class="w-full max-w-[96rem] mx-auto flex flex-col md:flex-row items-center justify-between"
  >
    <!-- Konten teks di kiri -->
    <div class="md:w-1/2 flex flex-col justify-center pr-4 md:px-12 pb-6">
      <h2
        class="text-lg xs:text-xl sm:text-2xl md:text-4xl lg:text-6xl font-bold mb-4 uppercase text-raisin-black tracking-wider"
      >
        {{ page.mayo_about.title }}
      </h2>
      <p
        class="text-base font-normal mb-6 text-raisin-black tracking-wide mt-6 md:mt-12"
      >
        {{ page.mayo_about.description }}
      </p>
      <a
        href="{{ page.mayo_about.button_link }}"
        class="inline-block bg-keppel text-baby-powder px-5 py-3 mt-8 md:mt-12 hover:bg-keppel-hover transition duration-300 ease-in-out font-semibold tracking-widest uppercase max-w-max text-sm sm:text-base md:text-lg"
      >
        {{ page.mayo_about.button_text }}
      </a>
    </div>

    <!-- Gambar di kanan -->
    <div
      class="md:w-1/2 mb-8 md:mb-0 flex flex-col space-y-4 items-end pr-4 md:pr-0"
    >
      <img
        src="{{ page.mayo_about.image1 }}"
        alt="Image"
        class="w-full object-cover shadow {{ page.mayo_about.image_size }}"
      />
      <img
        src="{{ page.mayo_about.image2 }}"
        alt="Image"
        class="w-full object-cover shadow {{ page.mayo_about.image_size }}"
      />
    </div>
  </div>
</section>
