<section
  class="flex flex-col md:flex-row items-center justify-between {{ include.section.bg_color }} py-12 md:py-24 lg:py-48 pl-4 sm:pl-8 md:pl-12 lg:pl-16 xl:pl-20"
>
  <div
    class="w-full max-w-[96rem] mx-auto flex flex-col md:flex-row items-center justify-between"
  >
    <!-- Konten teks di kiri -->
    <div class="md:w-1/2 flex flex-col justify-center pr-4 md:px-12 pb-6">
      <h2 class="mb-4 text-raisin-black section-title-font">
        {{ include.section.title }}
      </h2>
      {% if include.section.description %} {% if include.section.description[0]
      %}
      <ul
        class="list-disc marker:text-keppel text-raisin-black space-y-3 md:mt-8 pl-5 description-font"
      >
        {% for item in include.section.description %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-raisin-black md:mt-8 description-font">
        {{ include.section.description }}
      </p>
      {% endif %} {% endif %} {% if include.section.button_text %}

      <a
        href="{{ include.section.button_link }}"
        aria-label="{{ include.section.button_aria_label }}"
        class="button-font inline-block bg-keppel text-baby-powder text-center mt-8 md:mt-12 hover:bg-keppel-hover max-w-max"
      >
        {{ include.section.button_text }}
      </a>
      {% endif %}
    </div>

    <!-- Gambar di kanan -->
    <div
      class="md:w-1/2 mb-8 md:mb-0 flex flex-col space-y-4 items-end pr-4 md:pr-0 h-full w-full"
    >
      <img
        src="{{ include.section.image1.src }}"
        alt="{{ include.section.image1.alt }}"
        loading="lazy"
        class="w-full h-auto object-cover shadow {{ include.section.image_size }}"
      />
      <img
        src="{{ include.section.image2.src }}"
        alt="{{ include.section.image2.alt }}"
        loading="lazy"
        class="w-full h-auto object-cover shadow {{ include.section.image_size }}"
      />
    </div>
  </div>
</section>
