<section
  class="flex flex-col md:flex-row items-center justify-between {{ include.section.bg_color }} py-12 md:py-24 lg:py-48 pr-4 sm:pr-4 md:pr-12 lg:pr-16 xl:pr-20"
>
  <div
    class="w-full max-w-[96rem] mx-auto flex flex-col md:flex-row items-center justify-between"
  >
    <!-- Gambar di kiri -->
    <div
      class="md:w-1/2 mb-8 md:mb-0 flex flex-col space-y-4 items-start pl-4 md:pl-0 h-full w-full"
    >
      <img
        src="{{ include.section.image.src }}"
        alt="{{ include.section.image.alt }}"
        loading="lazy"
        class="w-full h-full object-cover shadow {{ include.section.image_size }}"
      />
    </div>

    <!-- Konten teks di kanan -->
    <div class="md:w-1/2 flex flex-col justify-center pl-4 md:pl-12">
      <h2 class="section-title-font mb-4 text-raisin-black">
        {{ include.section.title }}
      </h2>

      {% if include.section.description_paragraphs %}
      <div class="description-font mb-6 text-raisin-black md:mt-4">
        {% for paragraph in include.section.description_paragraphs %}
        <p>{{ paragraph }} <br /></p>
        {% endfor %} {% if include.section.description_list %}
        <ul
          class="list-disc marker:text-keppel text-raisin-black space-y-3 mt-4 md:mt-8 pl-5 description-font"
        >
          {% for item in include.section.description_list %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        <br />
        {% endif %} {% if include.section.description_paragraphs_2 %} {% for
        paragraph in include.section.description_paragraphs_2 %}
        <p>{{ paragraph }}</p>
        {% endfor %} {% endif %}
      </div>
      {% else %}
      <p class="description-font mb-0 text-raisin-black md:mt-4">
        {{ include.section.description }}
      </p>
      {% endif %} {% if include.section.button_text %}
      <a
        href="{{ include.section.button_link }}"
        aria-label="{{ include.section.button_aria_label }}"
        class="inline-block bg-keppel text-baby-powder mt-4 md:mt-8 px-6 py-3 text-center sm:text-left hover:bg-keppel-hover max-w-max button-font"
      >
        {{ include.section.button_text }}
      </a>
      {% endif %} {% if include.section.buttons %}
      <div class="flex flex-wrap gap-4">
        {% for button in include.section.buttons %}
        <a
          href="{{ button.link }}"
          aria-label="{{ button.aria_label }}"
          class="inline-block bg-keppel text-baby-powder md:mt-4 hover:bg-keppel-hover max-w-max button-font"
        >
          {{ button.text }}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</section>
