<section class="container mx-auto px-4 sm:px-6 lg:px-12 xl:px-20 py-10 sm:py-16 lg:py-24" id="how-it-works">
    <div>
      <p class="subtitle pb-2p">We Craft Meal Plans</p>
      <p class="title pb-5p">How it works</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="border-2 border-soliman p-10p">
        <div>
          <p class="paragraph-title pb-5p">Step 1: Choose Your Plan</p>
          <p class="pb-2p">Every week, we offer a variety of meal plans to suit different goals and preferences, including:
            <ul class="pb-2p ml-5p">
              <li class="list-disc">Balanced</li>
              <li class="list-disc">High Protein</li>
              <li class="list-disc">Vegan</li>
              <li class="list-disc">Carnivore</li>
              <li class="list-disc">Custom</li>
            </ul>
          <p>Each menu features five meal options per day, providing you with a total of 15 meals to choose from.</p>
        </div>
      </div>
      <div class="border-2 border-soliman p-10p">
        <div>
          <p class="paragraph-title pb-5p">Step 2: Mix & Match</p>
          <p class="pb-2p">You can select meals from one menu or mix and match across all the options.</p>
          <p class="pb-2p">For example, choose three meals from the Balanced menu, or combine meals from High Protein, Balanced, and Vegan.</p>
          <p>The choice is yours!</p>
        </div>
      </div>
      <div class="border-2 border-soliman p-10p">
        <div>
          <p class="paragraph-title pb-5p">Step 3: Align With Your Goals</p>
          <p class="pb-2p">Each meal comes with detailed macros, so you can select meals based on your daily calorie and macronutrient goals. </p>
          <p>Whether you’re aiming to balance your intake, increase protein, or follow a plant-based diet, we’ve got you covered.</p>
        </div>
      </div>
      <div class="border-2 border-soliman p-10p">
        <div>
          <p class="paragraph-title pb-5p">Step 4: Custom Meal Plans</p>
          <p class="pb-2p">Need something more specific? Our Custom Plans are tailored just for you. </p>
          <p class="pb-2p">Share your desired macros, or let us help you identify them, and we’ll create a meal plan that fits your needs. </p>
          <p>Custom plans can also accommodate medical requirements or food preferences, ensuring you get meals that are both nutritious and suitable for your lifestyle.</p>
        </div>
      </div>
      <div class="hidden sm:block border-2 border-soliman p-10p">
        <div>
          <div class="bg-image landscape min-h-40" style="background-image: url('/images/temp-img.png');"></div>
        </div>
      </div>
      <div class="border-2 border-soliman p-10p">
        <div>
          <p class="paragraph-title pb-5p"><i class="fa-solid fa-motorcycle green text-3xl"></i><span class="pl-5p">Delivery</span></p>
          <p class="pb-2p">We deliver daily from Monday to Saturday in an hour window that we inform you of in advance, and Sunday is our off day. </p>
          <p class="pb-5p">If you like to have meals seven days per week, we can deliver Sunday meals on Saturday.</p>
          <div>
            <a href="#" class="button">See Delivery Schedule</a>
          </div>
        </div>
      </div>
  </div>
</section>




 

