<section
  class="{{ include.section.bg_color }} max-w-full py-12 md:py-24 lg:py-48 px-4 sm:px-4 md:px-12 lg:px-16 xl:px-20"
>
  <div class="mx-auto max-w-[96rem] {{ include.section.bg_color }}">
    <div class="md:hidden mb-6 text-center">
      <h2 class="text-raisin-black section-title-font">
        {{ include.section.title }}
      </h2>
    </div>
    <!-- Grid Container -->
    <div
      class="grid grid-cols-2 grid-rows-3 gap-4 md:grid-cols-3 md:grid-rows-2 {{ include.section.image_size }}"
    >
      <!-- Gambar 1 -->
      <div
        class="col-span-2 row-span-1 md:col-span-1 md:row-span-2 md:row-start-1 md:col-start-1"
      >
        <img
          src="{{ include.section.images[0].src }}"
          alt="{{ include.section.images[0].alt }}"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Gambar 2 -->
      <div
        class="col-span-1 row-span-1 md:col-span-1 md:row-span-1 md:row-start-1 md:col-start-2"
      >
        <img
          src="{{ include.section.images[1].src }}"
          alt="{{ include.section.images[1].alt }}"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Gambar 3 -->
      <div
        class="col-span-1 row-span-1 md:col-span-1 md:row-span-1 md:row-start-2 md:col-start-2"
      >
        <img
          src="{{ include.section.images[2].src }}"
          alt="{{ include.section.images[2].alt }}"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Gambar 4 -->
      <div
        class="col-span-2 row-span-1 md:col-span-1 md:row-span-2 md:row-start-1 md:col-start-3"
      >
        <img
          src="{{ include.section.images[3].src }}"
          alt="{{ include.section.images[3].alt }}"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>
    </div>

    <!-- Text Content Below Grid -->
    <div class="mt-6 md:mt-20 mx-auto text-center">
      <h2 class="hidden md:block text-raisin-black section-title-font">
        {{ include.section.title }}
      </h2>

      {% if include.section.description %}
      <p
        class="description-font text-raisin-black max-w-3xl mx-auto mt-6 whitespace-pre-line"
      >
        {{ include.section.description }}
      </p>
      {% endif %} {% if include.section.button_text and
      include.section.button_link %}
      <a
        href="{{ include.section.button_link }}"
        aria-label="{{ include.section.button_aria_label }}"
        class="inline-block bg-keppel text-baby-powder md:mt-4 hover:bg-keppel-hover max-w-max button-font"
      >
        {{ include.section.button_text }}
      </a>
      {% endif %} {% if include.section.description_intro or
      include.section.description_list %}
      <div class="mt-6 text-center">
        <div class="max-w-3xl mx-auto inline-block text-left">
          {% if include.section.description_intro %}
          <p class="description-font text-raisin-black whitespace-pre-line">
            {{ include.section.description_intro }}
          </p>
          {% endif %} {% if include.section.description_list %}
          <ul class="mt-0 space-y-2 list-disc marker:text-keppel px-6">
            {% for item in include.section.description_list %}
            <li class="description-font text-raisin-black">{{ item }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
