{% assign section = include.section %}

<section
  class="py-12 md:py-24 lg:py-48 px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 max-w-full mx-auto {{ section.bg_color }}"
>
  <div class="max-w-[96rem] mx-auto">
    <!-- Judul -->
    <h2 class="section-title-font text-raisin-black text-center">
      {{ section.title }}
    </h2>

    <!-- Deskripsi -->
    <p
      class="max-w-3xl mt-6 md:mt-12 text-raisin-black text-center mx-auto description-font"
    >
      {{ section.description | raw }}
    </p>

    <!-- Tombol -->
    <div class="text-center mb-12">
      {% if section.button_link %} {% if section.buttons %} {% for button in
      section.buttons %}
      <a
        href="{{ button.button_link }}"
        aria-label="{{ button.button_aria_label }}"
        class="inline-block bg-keppel text-white md:mt-4 hover:bg-keppel-hover max-w-max button-font mx-2"
      >
        {{ button.button_text }}
      </a>
      {% endfor %} {% else %}
      <a
        href="{{ section.button_link }}"
        aria-label="{{ section.button_aria_label }}"
        class="inline-block bg-keppel text-white md:mt-4 hover:bg-keppel-hover max-w-max button-font"
      >
        {{ section.button_text }}
      </a>
      {% endif %} {% endif %}
    </div>

    <!-- LightGallery Container for Desktop -->
    {% if section.images.size >= 6 %}
    <div
      id="lightgallery-desktop"
      class="hidden sm:grid grid-cols-2 md:grid-cols-4 gap-4 cursor-pointer"
    >
      {% assign imgs = section.images %}
      <a
        href="{{ imgs[0].src }}"
        data-lg-size="1600-1067"
        class="col-span-2 md:col-span-1 md:col-start-1 md:row-start-1 block overflow-hidden"
      >
        <img
          src="{{ imgs[0].src }}"
          alt="{{ imgs[0].alt }}"
          loading="lazy"
          class="object-cover w-full h-full {{ section.image_height }}"
        />
      </a>

      <a
        href="{{ imgs[1].src }}"
        data-lg-size="1600-1067"
        class="col-span-1 md:col-span-2 md:col-start-2 md:row-start-1 block overflow-hidden"
      >
        <img
          src="{{ imgs[1].src }}"
          alt="{{ imgs[1].alt }}"
          loading="lazy"
          class="object-cover w-full h-full {{ section.image_height }}"
        />
      </a>

      <a
        href="{{ imgs[2].src }}"
        data-lg-size="1600-1067"
        class="col-span-1 md:block md:col-span-1 md:col-start-4 md:row-start-1 block overflow-hidden"
      >
        <img
          src="{{ imgs[2].src }}"
          alt="{{ imgs[2].alt }}"
          loading="lazy"
          class="object-cover w-full h-full {{ section.image_height }}"
        />
      </a>

      <a
        href="{{ imgs[3].src }}"
        data-lg-size="1600-1067"
        class="col-span-1 md:col-span-1 md:col-start-1 md:row-start-2 block overflow-hidden"
      >
        <img
          src="{{ imgs[3].src }}"
          alt="{{ imgs[3].alt }}"
          loading="lazy"
          class="object-cover w-full h-full {{ section.image_height }}"
        />
      </a>

      <a
        href="{{ imgs[4].src }}"
        data-lg-size="1600-1067"
        class="col-span-1 md:col-span-1 md:col-start-2 md:row-start-2 block overflow-hidden"
      >
        <img
          src="{{ imgs[4].src }}"
          alt="{{ imgs[4].alt }}"
          loading="lazy"
          class="object-cover w-full h-full {{ section.image_height }}"
        />
      </a>

      <a
        href="{{ imgs[5].src }}"
        data-lg-size="1600-1067"
        class="col-span-2 md:col-span-2 md:col-start-3 md:row-start-2 block overflow-hidden"
      >
        <img
          src="{{ imgs[5].src }}"
          alt="{{ imgs[5].alt }}"
          loading="lazy"
          class="object-cover w-full h-full {{ section.image_height }}"
        />
      </a>
    </div>
    {% else %}
    <p class="text-red-500 text-center">
      Image data incomplete. Please provide 6 images for this layout.
    </p>
    {% endif %}

    <!-- LightGallery Container for Mobile -->
    <div
      id="lightgallery-mobile"
      class="sm:hidden flex flex-col space-y-4 cursor-pointer"
    >
      {% for image in section.images limit:3 %}
      <a
        href="{{ image.src }}"
        data-lg-size="1600-1067"
        class="block overflow-hidden"
      >
        <img
          src="{{ image.src }}"
          alt="{{ image.alt }}"
          loading="lazy"
          class="w-full h-auto object-cover {{ section.image_height }}"
        />
      </a>
      {% endfor %}
    </div>
  </div>
</section>
