<section
  class="bg-baby-powder max-w-full py-12 md:py-24 lg:py-48 px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20"
>
  <div class="mx-auto max-w-[96rem] bg-baby-powder">
    <div class="md:hidden mb-6 text-center">
      <h2
        class="text-raisin-black uppercase text-xl sm:text-2xl md:text-4xl lg:text-6xl font-bold"
      >
        {{ page.weddings.title }}
      </h2>
    </div>
    <!-- Grid Container -->
    <div
      class="grid grid-cols-2 grid-rows-3 gap-4 md:grid-cols-3 md:grid-rows-2 {{ page.weddings.image_size }}"
    >
      <!-- Gambar 1 -->
      <div
        class="col-span-2 row-span-1 md:col-span-1 md:row-span-2 md:row-start-1 md:col-start-1"
      >
        <img
          src="{{ page.weddings.images[0].src }}"
          alt="{{ page.weddings.images[0].alt }}"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Gambar 2 -->
      <div
        class="col-span-1 row-span-1 md:col-span-1 md:row-span-1 md:row-start-1 md:col-start-2"
      >
        <img
          src="{{ page.weddings.images[1].src }}"
          alt="{{ page.weddings.images[1].alt }}"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Gambar 3 -->
      <div
        class="col-span-1 row-span-1 md:col-span-1 md:row-span-1 md:row-start-2 md:col-start-2"
      >
        <img
          src="{{ page.weddings.images[2].src }}"
          alt="{{ page.weddings.images[2].alt }}"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Gambar 4 -->
      <div
        class="col-span-2 row-span-1 md:col-span-1 md:row-span-2 md:row-start-1 md:col-start-3"
      >
        <img
          src="{{ page.weddings.images[3].src }}"
          alt="{{ page.weddings.images[3].alt }}"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>
    </div>

    <!-- Text Content Below Grid -->
    <div class="mt-6 md:mt-20 max-w-4xl mx-auto text-center">
      <h2
        class="hidden md:block text-raisin-black uppercase text-xl sm:text-2xl md:text-4xl lg:text-6xl font-bold"
      >
        {{ page.weddings.title }}
      </h2>

      <p
        class="text-raisin-black max-w-3xl mx-auto text-base font-normal mt-6 md:mt-12 leading-relaxed whitespace-pre-line"
      >
        {{ page.weddings.description }}
      </p>

      <a
        href="{{ page.weddings.button_link }}"
        aria-label="{{ page.weddings.button_aria_label }}"
        class="inline-block bg-keppel text-baby-powder px-5 py-3 mt-8 md:mt-12 hover:bg-keppel-hover transition duration-300 ease-in-out font-semibold tracking-widest uppercase max-w-max text-sm sm:text-base md:text-lg"
      >
        {{ page.weddings.button_text }}
      </a>
    </div>
  </div>
</section>
