<section class="py-10 sm:py-16 lg:py-24">
  <div class="flex items-center px-4 sm:px-6 lg:px-12 xl:px-20 min-h-80 md:min-h-60" style="background-image: url('{{ page.image-banner.image }}'); background-size: cover; background-position: center; background-attachment: fixed;">
    <div class="container mx-auto">
      <p class="title pb-2p">{{ page.image-banner.title }}</p>
      <p class="subtitle pb-5p">{{ page.image-banner.subtitle }}</p>
      <div>
        <a href="{{ page.image-banner.button_url }}" class="button">{{ page.image-banner.button_text }}</a>
      </div>
    </div>
  </div>
</section>


