{% assign popups = page.popup %} {% if popups %}
<div
  id="popupModal"
  class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50 hidden px-4"
  aria-modal="true"
  role="dialog"
>
  <div
    class="bg-custom-blue px-6 sm:px-8 md:px-12 pt-12 sm:pt-16 md:pt-20 pb-8 sm:pb-10 md:pb-12 shadow-lg max-w-4xl w-full"
  >
    <!-- Loop popup cards -->
    {% for popup in popups %}
    <div
      class="popup-card bg-custom-blue max-w-4xl w-full flex flex-col md:flex-row overflow-hidden {% unless forloop.first %}hidden{% endunless %}"
      data-popup-index="{{ forloop.index0 }}"
    >
      <!-- Left: Image -->
      <div
        class="md:w-1/2 max-h-[220px] sm:max-h-[280px] md:max-h-none overflow-hidden"
      >
        <img
          src="{{ popup.image }}"
          alt="{{ popup.title }}"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Right: Content -->
      <div
        class="md:w-1/2 pt-4 md:p-10 flex flex-col justify-between text-baby-powder"
      >
        <div>
          <h2
            class="text-xl sm:text-2xl md:text-4xl font-bold mb-4 tracking-wide uppercase"
          >
            {{ popup.title }}
          </h2>
          <p class="text-base font-normal mt-6 leading-relaxed mb-6">
            {{ popup.description }}
          </p>
        </div>
        <div>
          <a
            href="{{ popup.button.url }}"
            class="inline-block bg-keppel text-baby-powder px-5 py-3 mt-4 hover:bg-keppel-hover transition duration-300 ease-in-out font-semibold tracking-widest uppercase max-w-max text-sm sm:text-base md:text-lg"
          >
            {{ popup.button.text }}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- Indicators & Arrows -->
    <div
      class="mt-10 sm:mt-12 flex items-center justify-center space-x-6 select-none"
    >
      <button id="prevBtnPopup" aria-label="Previous">
        <img
          src="/assets/images/icons/arrow.png"
          alt="Previous"
          class="w-4 pointer-events-none"
        />
      </button>
      <div class="flex space-x-3" id="popupIndicators">
        {% for popup in popups %}
        <div
          class="w-3 h-3 rounded-full border-2 border-[#5aaf9d] {% if forloop.first %}bg-[#5aaf9d]{% else %}bg-transparent{% endif %}"
        ></div>
        {% endfor %}
      </div>
      <button id="nextBtnPopup" aria-label="Next">
        <img
          src="/assets/images/icons/arrow.png"
          alt="Next"
          class="w-4 pointer-events-none rotate-180"
        />
      </button>
    </div>
  </div>
</div>
{% endif %}
