{% assign popups = page.popup %} {% if popups %}
<div
  id="popupModal"
  class="fixed bottom-4 right-4 z-50 hidden w-[70vw] max-w-xs md:max-w-md bg-custom-blue rounded shadow-lg overflow-hidden"
  aria-modal="true"
  role="dialog"
>
  <!-- Tombol Close -->
  <button
    id="closePopupBtn"
    class="absolute top-2 right-2 text-white hover:text-keppel transition"
    aria-label="Close"
  >
    Close ✕
  </button>

  <!-- Loop popup cards -->
  {% for popup in popups %}
  <div
    class="popup-card flex flex-col md:flex-row overflow-hidden p-4 mt-4 {% unless forloop.first %}hidden{% endunless %}"
    data-popup-index="{{ forloop.index0 }}"
  >
    <!-- Gambar (kiri di md ke atas) -->
    <div class="md:w-1/2 w-full h-48 md:h-auto overflow-hidden">
      <img
        src="{{ popup.image }}"
        alt="{{ popup.title }}"
        class="w-full h-full object-cover"
      />
    </div>

    <!-- Konten (kanan di md ke atas) -->
    <div
      class="pt-4 md:p-4 text-baby-powder flex flex-col justify-between md:w-1/2"
    >
      <div>
        <h2 class="text-lg font-bold uppercase mb-2">{{ popup.title }}</h2>
        <p class="text-sm">{{ popup.description }}</p>
      </div>
      <div class="mt-4">
        <a
          href="{{ popup.button.url }}"
          class="inline-block bg-keppel text-baby-powder px-4 py-2 text-sm hover:bg-keppel-hover transition"
        >
          {{ popup.button.text }}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- Navigasi -->
  {% if popups.size > 1 %}
  <div
    class="flex items-center justify-center space-x-4 pt-2 pb-4 bg-opacity-10"
  >
    <button
      id="prevBtnPopup"
      aria-label="Previous"
      class="w-4 h-4 justify-center items-center flex"
    >
      <img src="{{ '/assets/images/icons/arrow.png' }}" alt="Previous Button" />
    </button>
    <div class="flex space-x-1" id="popupIndicators">
      {% for popup in popups %}
      <div
        class="w-4 h-4 rounded-full border border-[#5aaf9d] {% if forloop.first %}bg-[#5aaf9d]{% else %}bg-transparent{% endif %}"
      ></div>
      {% endfor %}
    </div>
    <button
      id="nextBtnPopup"
      aria-label="Next"
      class="rotate-180 w-4 h-4 flex justify-center items-center"
    >
      <img src="{{ '/assets/images/icons/arrow.png' }}" alt="Next Button" />
    </button>
  </div>
  {% endif %}
</div>
{% endif %}
