<section
  class="py-12 md:py-24 lg:py-48 px-4 sm:px-4 md:px-12 lg:px-16 xl:px-20 bg-alabaster"
>
  {% if page.rooms.main_title %}
  <h2 class="text-center mb-12 text-raisin-black section-title-font">
    {{ page.rooms.main_title }}
  </h2>
  {% endif %}

  <div class="max-w-[96rem] mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-stretch">
      {% for room in page.rooms.list %}
      <div class="flex flex-col h-full w-full overflow-hidden">
        <img
          src="{{ room.image }}"
          alt="{{ room.image_alt }}"
          loading="lazy"
          class="w-full h-auto object-cover shadow {{ room.image_size }}"
        />
        <div class="py-6 flex flex-col flex-grow">
          <h3 class="mb-3 text-raisin-black subtitle-font">{{ room.title }}</h3>
          <p
            class="text-raisin-black mb-4 md:mt-4 max-w-[90%] description-font"
          >
            {{ room.description }}
          </p>

          <div class="flex flex-col space-y-4 text-raisin-black mb-6">
            <div class="flex items-center space-x-2">
              <img
                src="/assets/images/icons/bed.png"
                alt="Bed icon"
                loading="lazy"
                class="w-4 h-4 xs:w-5 xs:h-5 sm:w-6 sm:h-6"
              />
              <span class="description-font">{{ room.bed }}</span>
            </div>
            <div class="flex items-center space-x-2">
              <img
                src="/assets/images/icons/capacity.png"
                alt="Capacity icon"
                loading="lazy"
                class="w-4 h-4 xs:w-5 xs:h-5 sm:w-6 sm:h-6"
              />
              <span class="description-font">{{ room.capacity }}</span>
            </div>
          </div>

          <a
            href="{{ room.button_url }}"
            aria-label="{{ room.button_aria_label }}"
            class="inline-block bg-keppel text-baby-powder mt-auto hover:bg-keppel-hover max-w-max button-font"
          >
            {{ room.button_text }}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
