<section
  class="py-12 md:py-24 lg:py-48 px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 bg-alabaster"
>
  <h2
    class="text-xl sm:text-2xl md:text-4xl lg:text-6xl font-bold text-center mb-12 tracking-widest text-raisin-black uppercase"
  >
    Our Beautiful Rooms
  </h2>

  <div class="max-w-[96rem] mx-auto">
    <div class="flex flex-wrap justify-center">
      {% for room in page.rooms %}
      <div class="w-full md:w-1/2 flex">
        <div
          class="overflow-hidden max-w-full md:max-w-[567px] mx-auto flex flex-col h-full w-full px-0 md:px-4"
        >
          <img
            src="{{ room.image }}"
            alt="{{ room.image_alt }}"
            loading="lazy"
            class="w-full h-auto object-cover shadow {{ room.image_size }}"
          />
          <div class="py-6 flex flex-col flex-grow">
            <h3
              class="text-lg md:text-2xl lg:text-3xl font-semibold mb-3 text-raisin-black uppercase tracking-wide"
            >
              {{ room.title }}
            </h3>
            <p
              class="text-raisin-black mb-4 text-base font-normal mt-4 md:mt-8 max-w-[90%]"
            >
              {{ room.description }}
            </p>

            <div class="flex flex-col space-y-4 text-raisin-black mb-6">
              <div class="flex items-center space-x-2">
                <img
                  src="/assets/images/icons/bed.png"
                  alt="Bed icon"
                  loading="lazy"
                  class="w-4 h-4 xs:w-5 xs:h-5 sm:w-6 sm:h-6"
                />
                <span class="text-sm xs:text-base font-medium"
                  >{{ room.bed }}</span
                >
              </div>
              <div class="flex items-center space-x-2">
                <img
                  src="/assets/images/icons/capacity.png"
                  alt="Capacity icon"
                  loading="lazy"
                  class="w-4 h-4 xs:w-5 xs:h-5 sm:w-6 sm:h-6"
                />
                <span class="text-sm xs:text-base font-medium"
                  >{{ room.capacity }}</span
                >
              </div>
            </div>

            <a
              href="{{ room.button_url }}"
              aria-label="{{ room.button_aria_label }}"
              class="inline-block bg-keppel text-baby-powder px-5 py-3 mt-8 md:mt-12 hover:bg-keppel-hover transition duration-300 ease-in-out font-semibold tracking-widest uppercase max-w-max text-sm sm:text-base md:text-lg"
            >
              {{ room.button_text }}
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
