<div
  class="w-full {{ include.section.bg_color }} overflow-x-hidden py-12 md:py-24 lg:py-48 px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20"
>
  <div class="max-w-[96rem] mx-auto text-center">
    <!-- Title -->
    <h2 class="section-title-font text-raisin-black mb-6 md:mb-12">
      {{ include.section.title }}
    </h2>

    {% if include.section.description %}
    <!-- Description -->
    <p
      class="max-w-3xl my-6 md:mb-12 md:mt-12 text-raisin-black text-center mx-auto description-font"
    >
      {{ include.section.description | raw }}
    </p>
    {% endif %}
  </div>

  <div class="relative max-w-[96rem] mx-auto">
    <div class="overflow-hidden">
      <div
        class="flex items-stretch"
        id="slider"
        style="will-change: transform"
      >
        {% for card in include.section.cards %}
        <div class="flex-shrink-0 w-10/12 md:w-1/2 lg:w-5/12 px-4">
          <div class="flex flex-col h-full justify-between">
            <div>
              <img
                src="{{ card.image.src }}"
                alt="{{ card.image.alt }}"
                loading="lazy"
                class="w-full h-64 md:h-72 lg:h-96 object-cover mb-6"
              />
              <h3
                class="subtitle-font text-raisin-black min-h-[2rem] md:min-h-[3rem]"
              >
                {{ card.title }}
              </h3>
              <p
                class="text-raisin-black description-font min-h-[3rem] md:min-h-[4rem]"
              >
                {{ card.description }}
              </p>
            </div>
            <a
              href="{{ card.button_link }}"
              aria-label="{{ card.button_aria_label }}"
              class="inline-block bg-keppel text-white md:mt-4 hover:bg-keppel-hover max-w-max button-font"
            >
              {{ card.button_text }}
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div
    class="flex justify-center items-center mt-8 space-x-2 md:space-x-6 select-none"
  >
    <button
      id="prevBtnSlider"
      class="text-2xl text-keppel hover:text-keppel-hover focus:outline-none"
      aria-label="Previous"
    >
      <img
        src="/assets/images/icons/arrow.png"
        alt="Previous"
        loading="lazy"
        class="pointer-events-none w-4"
      />
    </button>
    <div class="flex space-x-1 md:space-x-3" id="indicator"></div>
    <button
      id="nextBtnSlider"
      class="text-2xl text-keppel hover:text-keppel-hover rotate-180 focus:outline-none"
      aria-label="Next"
    >
      <img
        src="/assets/images/icons/arrow.png"
        alt="Next"
        loading="lazy"
        class="pointer-events-none w-4"
      />
    </button>
  </div>
</div>
