<section class="container mx-auto px-4 sm:px-6 lg:px-12 xl:px-20 py-10 sm:py-16 lg:py-24">
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
    <div class="col-span-full">
      <p class="subtitle pb-2p">{{ page.testimonials.subtitle }}</p>
      <p class="title pb-5p">{{ page.testimonials.title }}</p>
    </div>
    {% for testimonial in page.testimonials.testimonials_list limit:3 %}
      <div class="border-2 border-soliman p-5">
        <div>
          <i class="fa-solid fa-quote-left text-xl sm:text-2xl green sm:pb-10p"></i>
          <p class="font-semibold text-center italic pb-2p">{{ testimonial.highlight }}</p>
          <p class="text-center pb-5p">{{ testimonial.paragraph }}</p>
          <p class="text-right">- {{ testimonial.name }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
