<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include head.html %}

    <title>Mayo Resort</title>
  </head>

  <body>
    {% include site-header.html %} {{content}} {% unless page.no_footer %} {%
    include site-footer.html %} {% endunless %}

    <script src="{{ '/assets/js/nav.js' | relative_url }}" defer></script>
    <script
      src="{{ '/assets/js/testimonial.js' | relative_url }}"
      defer
    ></script>
    <script src="{{ '/assets/js/slider.js' | relative_url }}" defer></script>
  </body>
</html>
