<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.seo.title | default: site.seo.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include site-header.html %} {{ content }} {% unless page.no_footer %} {%
    include site-footer.html %} {% endunless %}

    <a
      href="https://wa.me/+628113800500?text=Hello%2C%20I%20would%20like%20to%20inquire%20about%20Mayo%20Resort."
      class="float"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Chat on WhatsApp"
    >
      <img
        src="/assets/images/icons/whatsapp-icon.png"
        alt="WhatsApp Icon"
        class="w-6"
      />
    </a>

    <!-- GSAP before slider -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
      defer
    ></script>
    <script src="{{ '/assets/js/slider.js' | relative_url }}" defer></script>

    <!-- Other scripts -->
    <script src="{{ '/assets/js/nav.js' | relative_url }}" defer></script>
    <script
      src="{{ '/assets/js/testimonial.js' | relative_url }}"
      defer
    ></script>
    <script src="{{ '/assets/js/popup.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/lazy-bg.js' | relative_url }}" defer></script>

    <!-- LightGallery -->
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/lightgallery.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/plugins/thumbnail/lg-thumbnail.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/plugins/zoom/lg-zoom.umd.min.js"></script>
    <script src="/assets/js/lightgallery.js"></script>
  </body>
</html>
