<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include head.html %}

    <title> The Solimans </title>


    

</head>
    
<body>
    {% include site-header.html %}

    {{content}}

    {% include whatsapp.html %}
    
    {% unless page.no_footer %}
        {% include site-footer.html %}
    {% endunless %}

    <!-- Add jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script src="scripts.js"></script>

</body>

</html>